<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{title}}</title>
    <link
      href='https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css'
      rel='stylesheet'
    />
  </head>
  <body class='bg-gray-100'>
    <div class='min-h-screen flex flex-col'>
      <!-- Navbar -->
      <nav class='bg-blue-600 text-white p-6'>
        <div
          class='container mx-auto flex flex-wrap justify-between items-center'
        >
          <div class='flex items-center space-x-6'>
            <a href='/' class='text-xl font-bold hover:underline'>OWCA FILM</a>
            {{#if isLoggedIn}}
              <a href='/users/my-list' class='text-xl hover:underline'>My List</a>
            {{/if}}
          </div>
          <div class='flex items-center space-x-6 mt-4 lg:mt-0'>
            {{#if isLoggedIn}}
              <div class='bg-white text-blue-600 px-3 py-1 rounded-md text-xl'>
                {{username}}
              </div>
              <span class='text-xl text-yellow-300'>Balance: ${{balance}}</span>
              <!-- Logout Form -->
              <form action='/logout' method='POST' class='inline'>
                <button
                  type='submit'
                  class='bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded'
                >
                  Logout
                </button>
              </form>
            {{else}}
              <a href='/login' class='text-xl hover:underline'>Login</a>
            {{/if}}
          </div>
        </div>
      </nav>
      <!-- Page Content -->
      <main class='flex-1 p-4 container mx-auto'>
        {{{body}}}
      </main>
    </div>
  </body>
</html>