<main class='flex-1 p-8 container mx-auto'>
  <h1 class='text-3xl font-bold mb-6 text-blue-700'>My List</h1>

  {{#if purchases.length}}
    <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6'>
      {{#each purchases}}
        <div
          class='bg-white rounded-lg shadow-lg p-6 flex flex-col justify-between'
        >
          <div>
            <img
              src='{{this.cover_image_url}}'
              alt='{{this.title}}'
              class='rounded-lg mb-4 w-full h-40 object-cover'
            />
            <h2
              class='text-2xl font-semibold text-gray-800 mb-2'
            >{{this.title}}</h2>
            <p class='text-gray-600 mb-4'>Purchased on {{this.purchasedAt}}</p>
            <p class='text-gray-700 mb-4'>{{this.description}}</p>
            <p class='text-gray-500 text-sm'>Directed by:
              {{this.director}}</p>
          </div>
          <a
            href='/films/{{this.filmId}}/watch'
            class='mt-6 inline-block text-center bg-blue-500 text-white font-bold py-2 px-4 rounded-lg hover:bg-blue-700 transition duration-300'
          >
            Watch Now
          </a>
        </div>
      {{/each}}
    </div>
  {{else}}
    <p class='text-lg text-gray-600'>You have not purchased any items yet.</p>
  {{/if}}
</main>